body {
  padding: 10px;
  background-color: #B487EB;
}

h1, h2 {
  text-align: center;
}

.board {
  margin: 0 auto;
}

.board td{
  border: 1px solid #ddd;
  width: 42px;
  height: 42px;
}

td.alive {
  background-color: #6728B2;
}

td.dead {
  background-color: #B487EB;
}

#preset_btn{
    background-color:#6728B2 ;
    color: white;
}

#control_panel {
  margin: 10px auto;
  text-align: center;
}
